
@charset "UTF-8"


{
font-size: 20px; font-weight: 240px; font-weight: 40px; color: white;
}

body {

	background-color: 8560a8;
	background-image: url(BCK.jpg);
	background-repeat: no-repeat; 

}

ul {
	font-size: 30px;
	color: white;
	padding: 2em 2em;
	opacity: 1.0;
	list-style: none;
	word-spacing: 150px;
	margin width: 0px;
	margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
   background-color: white;
	
} 	

h1 {

	font-size: 50px;
	color: white;
	text-align: center;
}

h2 {

font-size: 50px;
	color: white;
	text-align: center;

}

ol {

	font-size: 25px;
	color: white;
	text-align: left;
}

p {
	font-size: 25px;
	color: white;
	text-align: center;
}

li {

	font-size: 25px;
	color: white;
	text-align: left;
}