
@charset "UTF-8"


{
font-size: 20px; font-weight: 240px; font-weight: 40px; color: white;
}

body {

	background-color: 8560a8;
}

ul {
	font-size: 25px;
	color: white;
} 	

h1 {

	font-size: 50px;
	color: white;
	text-align: center;
}

h2 {

font-size: 50px;
	color: white;
	text-align: center;

}